############################################# Haskell 
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# VS Code
.vscode

# For C2HS
*.chs.h
*.i

# .ignore
.ignore

# macOS
.DS_Store

# Debian
# For debian build
*.dsc
*.deb
*.xz
obj-x86_64-linux-gnu
*.ddeb
*.debhelper
*.tar.gz
*.buildinfo
*.changes
*.tar
*.upload
*.build
*/debian/changelog
*.ppa.upload
*/debian/files
